<div class="banner__box">
  <%= cl_image_tag("#", class: 'banner', style: 'background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))')%>
  <div class="banner__box_text">

    <div class="banner__shadow"></div>
  </div>
</div>


<div class="wrapper">
  <div class="new__container">

    <div class="new__form">
      <h2 class="new__form_title">Enter Your Movie Category</h2>
      <ul class="form__ul">
          <li class="new__form_show">
            <%= simple_form_for [@list] do |f| %>
            <%= f.label :name %>
            <%= f.text_field :name %>
            <%= f.input :photo, as: :file %>
            <%= f.submit class: 'btn btn-primary' %>
            <% end %>
          </li>
      </ul>
    </div>
    <div>
      <%= link_to root_path do %>
        <div class="show__back_link">
          <h2 class="show__back_link_text">Go Back to List</h2>
        </div>
      <% end %>
    </div>

  </div>
</div>
